@model IEnumerable<University.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>
@* The project has reached completion, and all tests have been successfully passed *@
<table>
    <tr>
        <th>
            Enrollment Date
        </th>
        <th>
            Students
        </th>
    </tr>

    @foreach (var item in Model)
    {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                @item.StudentCount
                </td>
            </tr>
    }
</table>
